.options
{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 1rem;
    width: 30rem;

}

.text
{
    display: flex;
    justify-content: center;
    
}